#ifndef vector_{{ dim }}_{{ num }}_h
#define vector_{{ dim }}_{{ num }}_h

typedef unsigned char  u8;
typedef   signed short fix16;

/**
 * {{ dim }} dimensional vector type
 */
typedef union
{
    // access coordinates by name
    struct
    {
        {% for d in range(dim) -%}
            {{ num }} {{ names[d] }};
        {% endfor %}
    };

    // access coordinates by index
    {{ num }} coords [{{ dim }}];

    // map the struct to raw word size used by the CPU's registers
    {{ raw }} words [{{ dim * 2 }}];
}
Vec{{ dim }}{{ num }};


/// Vector to operate on
static Vec{{ dim }}{{ num }} acc_vec_{{ dim }}_{{ num }};

/// Add a vector into accumulator vector
void add_vec{{ dim }}_{{ num }}(Vec{{ dim }}{{ num }} other)
{
    {% for d in range(dim) -%}
        acc_vec_{{ dim }}_{{ num }}.{{ names[d] }} += other.{{ names[d] }};
    {% endfor %}
}


#endif
